<% if @property.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>
 
    <ul>
    <% @property.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @property do |f| %>
  
  <%= f.label :postcode %>
  <%= f.text_field :postcode %>
  
  <%= f.label :rent %>
  <%= f.text_field :rent %>

  <%= f.label :cost %>
  <%= f.text_field :cost %>
  
  <%= f.submit %>
<% end %>