<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RentalYield</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="/">Rental Yield Project</a></h3>
                <ul class="nav masthead-nav">
                  <% if user_signed_in? %>
                    Logged in as <%= current_user.email %>
                    <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:"btn btn-md btn-danger", role:"button" %>
                    <%= link_to 'Add a property', new_property_path %>
                  <% else %>
                    <%= link_to 'Sign in', new_user_session_path %>
                    <%= link_to 'Sign up', new_user_registration_path %>
                  <% end %>
                </ul>
            </div>
          </div>

          <div class="inner cover">
            <%= notice %>
            <%= yield %>
          </div>

    <%= javascript_include_tag 'application'%>
  </body>
</html>
